{% extends 'FbeenUserBundle:Email:layout.html.twig' %}

{% trans_default_domain 'fbeen_user' %}

{% block body %}
    <table>
        <tr>
            <td><h1>{{ 'email.reset_your_password_title'|trans }}</h1></td>
        </tr>
        <tr>
            <td>{{ 'email.reset_your_password_body'|trans }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><strong><a href="{{ confirmation_url }}">{{ 'email.reset_password'|trans }}</a></strong></td>
        </tr>
    </table>
{% endblock %}
